body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #121212;
    color: #ffffff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ff4500;
    color: white;
}

#saldo, #resultado {
    margin-top: 20px;
    font-size: 20px;
}

